
@media(max-width:400px){ 
    
    /*=================================
    Start Heading Section  
    =================================*/
    
    .heading-section span,
    .heading-section h2{
        font-size: 40px;
    }
    
    .heading-section:hover .border-heading {
        width: 230px;
    }
    
    .heading-section p {
        width: 95%;
    }
    
    /*=================================
    Start Heading Section   
    =================================*/
    
    
    
    /*=================================
    Start Portfolio 
    =================================*/
    
    .portfolio .image-portfolio {
        width: 100% !important;
        height: 300px !important;
    }
    
    /*=================================
    End Portfolio 
    =================================*/
    
    
    
    /*=================================
    Start Features
    =================================*/
    
    .features .overlay-features .image-iphone img {
        width: 246px;
    }
    
    /*=================================
    End Features
    =================================*/
    
    
    
    /*=================================
    Start Team
    =================================*/
    
    .team .personal .social-personal {
        top: 5px;
    }
    
    .team .personal .social-personal .icon-social {
        margin-bottom: 15px;
        width: 40px;
        height: 40px;
    }
    
    .team .personal .social-personal .icon-social i {
        line-height: 40px;
    }
    
    
    .blog .article .info-article h4 {
        font-size: 13px;
    }
    /*=================================
    End Team
    =================================*/
    
    
    
}


@media(max-width:590px){ 
    
    /*=================================
    Start Parallax 
    =================================*/
    
    .parallax .buttons-intro {
        top: 72% !important;
    }
    
    /*=================================
    End Parallax 
    =================================*/
    
    
    
    /*=================================
    Start Services  
    =================================*/
    
    .services .service .icon-service,
    .services .service .info-service{
        float: none;
    }
    
    .services .service .info-service {
        margin-left: 0;
        margin-top: 20px;
        width: 100%;
    }
    
    /*=================================
    End Services 
    =================================*/
    
    
    
    
    
    /*=================================
    Start Testimonials
    =================================*/
    
    .testimonials .heading-section h2,
    .testimonials .heading-section span {
        font-size: 29px;
    }
    
    .testimonials .heading-section span,
    .contact .heading-section span {
        top: -23px;
    }
    
    .testimonials .heading-section:hover span,
    .contact .heading-section:hover span {
        top: -15px;
    }
    
    /*=================================
    End Testimonials
    =================================*/
    
    
    
    /*=================================
    Start Contact
    =================================*/
    
    .contact .subscribe .overlay-subscribe form input[type="email"],
    .contact .subscribe .overlay-subscribe form input[type="submit"] {
        width: 100%;
        display: block;
        margin-left: 0;
    }
    
    .contact .subscribe .overlay-subscribe form input[type="email"] {
        border-radius: 20px 0 0 0;
    }
    
    .contact .subscribe .overlay-subscribe form input[type="submit"] {
        border-radius: 0 0 20px 0;
    }
    
    /*=================================
    End Contact
    =================================*/

    
}

@media(max-width:767px){


    /*=================================
    Start Parallax 
    =================================*/
    
    .parallax {
        height: 700px;
    }
    
    .parallax .header {
        overflow: auto;
    }
    
    .parallax .header .logo {
        margin-top: 16px;
    }
    
    .parallax .header .logo img {
        width: 160px;
    }

    .parallax .header .navbar-default {
        float: none;
    }
    
    .parallax .header .navbar-toggle {
        margin-right: 0;
        border-radius: 0;
        border-color: #f15f79;
        right: 10px;
        margin: 24px 0;
    }
    
    .parallax .header .navbar-default .navbar-toggle:focus,
    .parallax .header .navbar-default .navbar-toggle:hover {
        background-color: transparent;
    }
    
    .parallax .header .navbar-default .navbar-toggle .icon-bar {
        background-color: #000;
    }
    
    .parallax .header .navbar-collapse {
        border: 0;
        box-shadow: 0 0 0 0;
    }
    
    .navbar-nav {
        width: 100%;
        padding-top: 10px;
        margin-left: 0;
        margin-right: 0;
        height: 400px;
    }
    
    .navbar-nav .active a {
        padding-left: 15px;
    }
    
    .parallax .header .navbar-default .navbar-nav>li>a {
        margin-bottom: 5px;
        border-bottom: 1px solid #ccc;
        padding: 15px 10px;
    }
    
    .parallax .header .navbar-default .navbar-nav>li>a:hover {
        padding-left: 25px;
    }
    
    .parallax .slider {
        top: 22%;
        width: 90%;
    }
    
    .parallax .slider .border-top-slider {
        top: -30px;
    }
    
    .parallax .slider .border-bottom-slider {
        top: 25px;
    }
    
    .parallax .slider h1{
	    font-size: 38px;
        line-height: 60px;
    }

    .parallax .slider h1 span {
        font-size: 38px;
    }
    
    .parallax .slider p {
        letter-spacing: 2px;
        word-spacing: 0;
        font-size: 14px;
        margin-top: 25px;
    }
    
    .parallax .buttons-intro {
        top: 60%;
    }
    
    .parallax .buttons-intro a {
        font-size: 16px;
        display: block;
        width: 200px;
        margin: 0px auto 30px;
    }
    
    .parallax .buttons-intro a:nth-child(1) { 
        left: 0;
    }
    
    .parallax .buttons-intro a:nth-child(2) { 
        left: 0;
    }
    
    .triangle-bottom,
    .triangle-top{
        display: none;
    }
    
    /*=================================
    End Parallax 
    =================================*/
    
    
    
    /*=================================
    Start About
    =================================*/
    
    .heading-section p {
        width: 95%;
    }
    
    .about .info-about {
        margin-bottom: 40px;
    }
    
    /*=================================
    End About
    =================================*/
    
    
    
    /*=================================
    Start Portfolio 
    =================================*/
    
    .portfolio .center-div {
        left: 0;
        top: 0;
    }
    
    .portfolio .top-section {
        top: 0;
    }
    
    .portfolio .image-portfolio {
        margin-bottom: 40px;
        width: 90%;
        height: 400px;
        margin: 0 auto 40px;
    }
    
    /*=================================
    End Portfolio 
    =================================*/
    
    
    
    
    /*=================================
    Start Features
    =================================*/
    
    .features .overlay-features .feature.feature-right .icon-feature {
        float: none;
    }
    
    .feature.feature-right {
        text-align: left;
    }
    
    .features .overlay-features .feature {
        margin: 40px 0;
    }
    
    /*=================================
    End Features
    =================================*/
    
    
    
    
    /*=================================
    Start Pricing
    =================================*/
    
    .pricing .price {
        margin-bottom: 40px;
    }
    
    .pricing .price:hover {
        -webkit-transform: scale(1.02);
        -moz-transform: scale(1.02);
        -o-transform: scale(1.02);
        -ms-transform: scale(1.02);
        transform: scale(1.02);
    }

    /*=================================
    End Pricing
    =================================*/
    
    
    
    
    /*=================================
    Start Team
    =================================*/
    
    .team .personal {
        margin-bottom: 40px;
    }
    
    /*=================================
    End Team
    =================================*/
    
    
    
    
    /*=================================
    Start Blog
    =================================*/
    
    .blog .article {
        margin-bottom: 40px;
    }
    
    /*=================================
    End Blog
    =================================*/
    
    
    
    .services .overlay-services, 
    .features .overlay-features,
    .team .overlay-team,
    .testimonials .overlay-testimonials {
        padding: 80px 0;
    }
    
    .last-child {
        margin-bottom: 0 !important;
    }
}


/* small screen */

@media only screen and (min-width: 768px) and (max-width: 991px){
    
    
    /*=================================
    Start Parallax 
    =================================*/
    
    .parallax .header .logo img {
        width: 130px;
    }
    
    .parallax .header .navbar-default .navbar-nav>li>a {
        font-size: 11px;
    }
    
    .parallax .header .navbar-default .navbar-nav>li>a {
        padding: 26px 5px;
    }
    
    .parallax .slider h1{
	    font-size: 48px;
    }

    .parallax .slider h1 span {
        font-size: 53px;
    }
    
    .parallax .slider p {
        letter-spacing: 2px;
        word-spacing: 0;
    }
    
    /*=================================
    End Parallax 
    =================================*/
    
    
    
    /*=================================
    Start About
    =================================*/
    
    .heading-section p {
        width: 95%;
    }
    
    .about .info-about {
        margin-bottom: 40px;
    }
    
    /*=================================
    End About
    =================================*/
    
    
    
    /*=================================
    Start Services  
    =================================*/
    
    .services .service .icon-service,
    .services .service .info-service{
        float: none;
    }
    
    .services .service .info-service {
        margin-left: 0;
        margin-top: 20px;
        width: 100%;
    }
    
    /*=================================
    End Services 
    =================================*/
    
    
    
    /*=================================
    Start Portfolio 
    =================================*/
    
    .portfolio .center-div {
        left: 0;
        top: 0;
    }
    
    .portfolio .top-section {
        top: 0;
    }
    
    .hidden-small-screen {
        display: none;
    }
    
    .portfolio .image-portfolio {
        margin-bottom: 40px;
    }
    
    /*=================================
    End Portfolio 
    =================================*/
    
    
    
    /*=================================
    Start Features
    =================================*/
    
    .features .overlay-features .feature.feature-right .icon-feature {
        float: none;
    }
    
    .feature.feature-right {
        text-align: left;
    }
    
    .features .overlay-features .feature {
        margin: 40px 0;
    }
    
    /*=================================
    End Features
    =================================*/
    
    
    
    /*=================================
    Start Pricing
    =================================*/
    
    .pricing .price {
        margin-bottom: 40px;
    }

    /*=================================
    End Pricing
    =================================*/
    
    
    
    
    /*=================================
    Start Team
    =================================*/
    
    .team .personal {
        margin-bottom: 40px;
    }
    
    /*=================================
    End Team
    =================================*/
    
    
    
    
    /*=================================
    Start Blog
    =================================*/
    
    .blog .article {
        margin-bottom: 40px;
    }
    
    /*=================================
    End Blog
    =================================*/
    
    
    .last-child {
        margin-bottom: 0 !important;
    }
    

}

/* medium screen */

@media only screen and (min-width: 992px) and (max-width: 1199px){
    
   /*=================================
    Start Parallax 
    =================================*/
    
    .parallax .header .navbar-default .navbar-nav>li>a {
        font-size: 14px;
    }
    
    .parallax .header .navbar-default .navbar-nav>li>a {
        padding: 34px 8px;
    }
    
    .parallax .slider h1 {
	    font-size: 55px;
    }

    .parallax .slider h1 span {
        font-size: 60px;
    }
    
    /*=================================
    End Parallax 
    =================================*/
    
    
    
    /*=================================
    Start Services  
    =================================*/
    
    .services .service .icon-service,
    .services .service .info-service{
        float: none;
    }
    
    .services .service .info-service {
        margin-left: 0;
        margin-top: 20px;
        width: 100%;
    }
    
    /*=================================
    End Services 
    =================================*/
    
    
    
    
    /*=================================
    Start Portfolio 
    =================================*/
    
    .portfolio .center-div {
        left: 121px;
    }
    
    /*=================================
    End Portfolio 
    =================================*/
    
    
    
    /*=================================
    Start Features
    =================================*/
    
    .features .overlay-features .image-iphone {
        margin-top: 47px;
    }
    
    .features .overlay-features .image-iphone img {
        width: 300px;
    }
    
    /*=================================
    End Features
    =================================*/
    
    
    
    /*=================================
    Start Team
    =================================*/
    
    .team .personal .social-personal {
        top: 10px;
    }
    
    .team .personal .social-personal .icon-social {
        margin-bottom: 15px;
    }
    
    /*=================================
    End Team
    =================================*/
    
}

/* large screen */

@media(min-width:1200px)
{
    
    
}
